body {
  background-image: url("img/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2%;
}

h1 {
    border-bottom: 3px solid #888888;
    font-family: 'Press Start 2P', cursive;    font-size: 30px;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

form {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

p {
 font-family: 'Oswald', sans-serif;


}

p.instructions {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

div {
    background-color: #999;
    border: 3px solid #888888;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding: 10px;
}

div.data {
    margin-right: 2%;
    width: 25%
}

div.story {
    width: 73%;
}
